@import url(./styles/loader.css);
@import url(./styles/desktop.css);

:root {
    /*Colors*/
    --black-color: #22283A;
    --white-color: #FDFEFF;
    --green-color: #67AB8A;
    /*Font size and heights*/
    --mouse-size: 1.4rem;
    --mouse-height: 1.8rem;
    --cat-size: 1.6rem;
    --cat-height: 2.2rem;
    --dog-size: 1.8rem;
    --dog-height: 2.4rem;
    --wolf-size: 2rem;
    --wolf-height: 2.8rem;
    --lion-size: 2.8rem;
    --lion-height: 3.2rem;
    --hippo-size:4rem;
    --hippo-height:4.8rem;

}
@font-face {
    font-family: 'fligen';
    src: url("fonts/Fligen.otf");
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: raleway;
}
.main {
    width: 100%;
    height: auto;
}
.main-loader {
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    font-size: var(--cat-size);
    position: relative;
}
.main-loader__logo {
    width: 140px;
    height: 140px;
    display: grid;
    justify-content: center;
    justify-self: center;
    align-self: center;
    position: absolute;
}
.main-loader__logo--typo {
    font-family: fligen;
    font-weight: 300;
    font-size: 3.2rem;
}
#logo-initial {
    opacity: 1;
  }
  #box {
    justify-self: center;
  }
  .main-loader__logo--typo {
    text-align: center;
    font-size: 3.2rem;
    opacity: 0;
    margin: 0px;
    translate: 0px -40px;
  }

.main-loader__box {
    width: 200px;
    height: 50px;
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 2px;
    grid-template-rows: 50% 50%;
}
.main-loader__box-left {
    justify-self: end;
    justify-content: end;
    grid-template-columns: 170px 4px;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(50px);
}
.main-loader__box-right {
    justify-content: start;
    grid-template-columns: 4px 150px;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-70px);
}
.main-loader__center {
    justify-self: center;
    align-self: center;
    visibility:hidden;
}
.main-loader__box--bar {
    width: 4px;
    height: 50px;
    background-color: var(--green-color);
}
.main-loader__box-left--bar {
    grid-column: 2;
    grid-row: 1;
}
.main-loader__box-right--bar {
    grid-column: 1;
}
.main-loader__box--title {
    align-self: center;
    justify-self: end;
}
.main-loader__box--subtitle {
    align-self: center;
    justify-self: end;
    font-weight: bold;
}
.main-loader__box-right--title {
    align-self: center;
}
.main-loader__box-right--subtitle {
   grid-column: 2;
    align-self: center;
    font-weight: bold;
}

@media (min-width: 1040px) {
    .main-loader {
        grid-template-columns: 20% 60% 20%;
        padding: 40px 80px 40px 80px;
        font-size: var(--dog-size);
    }
    .main-loader__center {
        grid-column: 2;
        grid-row: 2;

    }
    .main-loader__box-left {
        transform: none;
        align-self: end;
        grid-row: 3;
        grid-column: 3;
    }
    .main-loader__box-right {
        grid-row: 3;
        grid-column: 1;
        align-self: end;
        transform: none;
    }
}